{% extends "base.html" %}

{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/films.js' %}" ></script>

<div class="container">
  <h1 class="mt-4 mb-3">Episode {{ film.episode }} : {{ film.title }} </h1>
  <input type="hidden" id="filmId" value="{{film.id}}"/>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'films' %}">Films</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
  </ol>

  <div class="row">
    <div class="col-md-8"> 
        <img class="img-fluid" {% if not film.getRouteImage %} src="{% static 'images/logo.png' %}" {% else %} src="{% static film.getRouteImage %}" {% endif %} alt="">        
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Description</h3>
      <p>{{film.description}}</p>
      <h3 class="my-3">Details</h3>
      <ul>
        <li><strong>Director: </strong>{{ film.director }}</li>
        <li><strong>Producer: </strong>{{ film.producer }}</li>
        <li><strong>Date: </strong>{{ film.release_date }}</li>
      </ul>
      {% if film.character.all %}
      <h3 class="my-3">Characters</h3>
      <ul>
        {% for character in film.character.all %}
          <li>{{ character.name }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
        {% if film.comment.all|length > 0 %}
        <h3 class="my-3">Comments</h3>
        {% endif %}
        <ul>
          {% for comentario in film.comment.all %}
            {% if comentario.estado %}
              <li><strong>{{comentario.usuario.username}}:</strong> {{ comentario.texto }}</li>
              <label><strong>Likes:</strong> {{ comentario.like.all|length }} - {{ comentario.fecha|date:'D, d' }} de {{ comentario.fecha|date:'E' }} - 
                {% if user.is_authenticated %} 
                  <a {% if not request.user.id in comentario.getUsuariosLikes %} href="{% url 'films:like_comment' film.pk comentario.pk %}" {% endif %}>Like</a> 
                  <a {% if request.user == comentario.usuario %} href="{% url 'films:delete_comment' film.pk comentario.pk %}" {% endif %}>Delete</a> 
                {% endif %}</label><hr> 
            {% endif %}
          {% endfor %}
        </ul>
        {% if user.is_authenticated %}
          <div class="well well-sm">
            <form action="{% url 'films:film-detail' film.id %}" method="POST">
              {% csrf_token %}
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>  
          </div>
          {% endif %}
      </div>
  </div>
</div>

{% endblock %}