{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/film.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}">
  <script type="text/javascript" src="{% static 'js/films.js' %}" ></script>
  <script type="text/javascript" src="{% static 'js/autocomplete.js' %}" ></script>


  <div class="container">
    <div class="card mb-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <form method='GET'>
         {{ filter.form | crispy }}
         <button type="submit" class='btn btn-primary'>Search</button>
       </form>
      </div>
    </div>

    <div class="row">
      {% for film in filter.qs %}
      <div class="item col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header nombres">{{film.title}}</h4>
          <div class="card-body show-read">
            <p class="card-text show-read-more">{{film.description}}</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="{{ film.get_absolute_url }}">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>      
{% endblock %}
